#title {
	text-align:center;
}

#main {
	width:100vw;
}

#form-initialize {
	text-align:center;
	padding-bottom: 2vh;
}

#form-initialize > label:nth-of-type(2) {
	padding-left: 30px;
}

.sets {
	font-size: 1.2em;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}

.sets > div {
	max-height:30vh;
	min-width: 30vw;
	max-width:45vw;
	overflow:auto;
	white-space: nowrap;
	text-align: center;
}

.bold {
	font-weight:bold;
}

.strike-through {
	text-decoration: underline;
	text-underline-offset: -30%;
	text-decoration-skip-ink: none;
	color:red;
}

.strike-through sub {
	display:inline-block;
	text-decoration: underline;
	text-underline-offset: -66%;
	text-decoration-skip-ink: none;
}

.highlight {
	font-weight: bold;
	color: mediumseagreen;
	line-height: 0;
}

body {
	margin: 0;
	height: 100vh;
	overflow-x: hidden;
	border: none;
}

.chartContainer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width:100vw;
	margin-bottom: 10vh;
}

.chartContainer > div {
	height:30vh;
	width:40vw;
	margin-top:5vh;
}

h1, h3 {
	text-align: center;
}